{% extends "base.html" %}

{% block content %}

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for post in posts %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <a href="{{ url_for('article', id=loop.index) }}" style="text-decoration: none; color: inherit;">
                                <img src="{{ post.thumbnail }}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{ post.title }}">
                                <div class="card-body">
                                    <p class="card-text">{{ post.title }}</p>
                                    <p class="text-muted" style="font-size: 0.9rem;"><a href="{{ post.source }}" target="_blank">{{ post.source_name }}</a> - {{ post.date }}</p>
                                    <!-- <small class="text-body-secondary">9 vistas</small> -->
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    
{% endblock %}